Load the dataset

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv(r'E:\Pandas\Project1\retail_store_data.csv')
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

Initial Inspection of the dataset

In [ ]:
df.info() # info() provides a concise summary of the DataFrame, including the number of non-null entries and data types of each column.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [ ]:
df.columns # Check for missing values in each column

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales'],
      dtype='object')

In [10]:
df.shape

(9800, 18)

In [ ]:
df.describe() # Statistical summary of numerical columns (postal code contain missing values)

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [ ]:
df.isnull().sum() # Check for missing values in each column

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

Handling missing values

In [31]:
"""
For filling missing postal code values, mode imputation is generally the most effective method. Since postal codes are categorical data, using the most frequent postal code (the mode) as a replacement is a reasonable approach. Alternatively, if there's a clear geographic relationship within the data, forward or backward fill could be considered, especially if there's a natural order to the postal codes. 
"""

# print(df['Postal Code'].mode())  # Display the mode of the 'Postal Code' column
# ans = (df['Postal Code'] == 10035.0).sum()
# print(ans)

# Fill missing values in 'Postal Code' with the mode
mode_value = df['Postal Code'].mode()[0]
df['Postal Code'].fillna(mode_value, inplace=True)
df.isnull().sum()  # Check again for missing values after imputation

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

Handle duplicate rows

In [ ]:
df.duplicated().sum()  # Check for duplicate rows

"""
output shows that there are no duplicate rows in the DataFrame.
"""

np.int64(0)

Feature Engineering

In [ ]:
"""
Extract month from 'Order Date' and create a new column 'Order Month'
this will help me analyze sales trends by month
"""

df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d/%m/%Y')
df['Order Month'] = df['Order Date'].dt.month

# Convert the integers to month names
df['Order Month'] = pd.to_datetime(df['Order Month'], format='%m').dt.strftime('%B')
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order Month
0,1,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,November
1,2,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,November
2,3,CA-2017-138688,2017-06-12,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,June
3,4,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,October
4,5,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,October

In [46]:
"""
Extract year from 'Order Date' and create a new column 'Order Year'
this will help me analyze sales trends by year
"""
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d/%m/%Y')
df['Order Year'] = df['Order Date'].dt.year

df['Order Year'].head(5)

0    2017
1    2017
2    2017
3    2016
4    2016
Name: Order Year, dtype: int32

Pre-Processed dataset after handling missing values and feature engineering

In [47]:
# Full Preprocessed dataset(saving to 'final.csv')
df.to_csv('final.csv', index=False)

Now load the updated dataset

In [12]:
import pandas as pd
import numpy as np
new_df = pd.read_csv('final.csv')
new_df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order Month,Order Year
0,1,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,November,2017
1,2,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,November,2017
2,3,CA-2017-138688,2017-06-12,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,June,2017

Grouping & Aggregation

In [10]:
# Total sales by product
total_sales_by_product = new_df.groupby('Product Name')['Sales'].sum()
total_sales_by_product = total_sales_by_product.sort_values(ascending=False)
total_sales_by_product.head(10)  # Display top 10 products by sales

Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

In [15]:
# Sales by region
sales_by_region = new_df.groupby('Region')['Sales'].sum()
sales_by_region = sales_by_region.sort_values(ascending=False)
sales_by_region

Region
West       710219.6845
East       669518.7260
Central    492646.9132
South      389151.4590
Name: Sales, dtype: float64

In [24]:
# monthly revenue for a specific year
years = new_df['Order Year'].unique()
years.sort()
for year in years:
    print(f"Monthly revenue for {year}:")
    monthly_revenue = new_df[new_df['Order Year'] == year].groupby('Order Month')['Sales'].sum()
    print(monthly_revenue)

Monthly revenue for 2015:
Order Month
April        27906.8550
August       27117.5365
December     68167.0585
February      4519.8920
January      14205.7070
July         33781.5430
June         34322.9356
March        55205.7970
May          23644.3030
November     77907.6607
October      31453.3930
September    81623.5268
Name: Sales, dtype: float64
Monthly revenue for 2016:
Order Month
April        34154.4685
August       36818.3422
December     74543.6012
February     11951.4110
January      18066.9576
July         28608.2590
June         23599.3740
March        32339.3184
May          29959.5305
November     75249.3995
October      31011.7375
September    63133.6060
Name: Sales, dtype: float64
Monthly revenue for 2017:
Order Month
April        38679.7670
August       30542.2003
December     95739.1210
February     22978.8150
January      18542.4910
July         38320.7830
June         39724.4860
March        51165.0590
May          56656.9080
November     79066.4958
October      59583.0330
September    69193.3909
Name: Sales, dtype: float64
Monthly revenue for 2018:
Order Month
April         35541.9101
August        62837.8480
December      83030.3888
February      19920.9974
January       43476.4740
July          44825.1040
June          48190.7277
March         58863.4128
May           43825.9822
November     117938.1550
October       77448.1312
September     86152.8880
Name: Sales, dtype: float64

In [25]:
# sales by Category
sales_by_category = new_df.groupby('Category')['Sales'].sum()
sales_by_category = sales_by_category.sort_values(ascending=False)
sales_by_category

Category
Technology         827455.8730
Furniture          728658.5757
Office Supplies    705422.3340
Name: Sales, dtype: float64